.react-bootstrap-table table {
    table-layout: auto !important;
  }

  /* .table-bordered {
    border-color: white !important;
    border: none;
  } */


/* .btn:hover {
    background-color: grey !important;
    cursor: pointer;
    color: white !important;
}


.nav-link:hover {
    background-color: grey !important;
    cursor: pointer;
    color: white !important;
} */